{% load static cms_tags sekizai_tags %}
{% include "generated/asset-tags.html" %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% page_attribute "page_title" %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <nav class="nav navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav container-lg justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Coach Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consent Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Donate</a>
                </li>
            </ul>
        </nav>

        <nav class="program-navigation" id="main-program-navigation">
            <div class="container-lg">
                {% spaceless %}
                <a href="{% page_url "home" %}" class="program-main-brand program-nav-box" id="main-logo">
                    <img src="{% static "horizontal-4c.png" %}" alt="FIRST Illinois Robotics">
                </a>

                <a href="{% page_url "fll-discover" %}" class="program-brand program-nav-box flld-brand" id="flld-logo">
                    <img class="fll-logo"  src="{% static "FLL-RGB_Discover-vert-one-color-reverse.png" %}" alt="FIRST LEGO League Discover">
                </a>

                <a href="{% page_url "fll-explore" %}" class="program-brand program-nav-box flle-brand" id="flle-logo">
                    <img class="fll-logo"  src="{% static "FLL-RGB_Explore-vert-one-color-reverse.png" %}" alt="FIRST LEGO League Explore">
                </a>

                <a href="{% page_url "fll-challenge" %}" class="program-brand program-nav-box fllc-brand" id="fllc-logo">
                    <img class="fll-logo"  src="{% static "FLL-RGB_Challenge-vert-one-color-reverse.png" %}" alt="FIRST LEGO League Challenge">
                </a>

                <a href="{% page_url "ftc" %}" class="program-brand program-nav-box ftc-brand" id="ftc-logo">
                    <img class="non-fll-logo"  src="{% static "FIRSTTech_Type_White.png" %}" alt="FIRST Tech Challenge">
                </a>

                <a href="{% page_url "frc" %}" class="program-brand program-nav-box frc-brand" id="frc-logo">
                    <img class="non-fll-logo"  src="{% static "FIRSTRobotics_Type_White.png" %}" alt="FIRST Robotics Competition">
                </a>
                {% endspaceless %}
            </div>
        </nav>

{#        <nav class="nav navbar-expand-lg sub-program-nav navbar-dark fllc-brand">#}
{#            <ul class="navbar-nav container-lg justify-content-end">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Coach Login</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Consent Form</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Donate</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}
        {% include "menus/navbar_wrap.html" %}


        {% block content %} {% endblock %}

        {% render_block "js" %}
    </body>
</html>
