@use "sass:math";
@use "~bootstrap/scss/mixins";
@import "~bootstrap/scss/functions";

@import "colors";

$program-main-brand-width: 25%;
$programs: 5; // NOT including main brand (used for splitting up programs evenly width wise)

$program-colors: (
  "frc": $frc-blue,
  "ftc": $ftc-orange,
  "fllc": $fll-red,
  "flle": $fll-green,
  "flld": $fll-purple,
  "home": $fir-grey,
);

// mobile overflow

.offcanvas-body {

  @each $name, $value in $program-colors {
    .#{$name}-brand {
      background-color: $value;
    }
  }

  img {
    max-width: 100%;
    width: auto;
    height: 60px;
    display: block;
    margin: 1em auto;
  }
}

.program-navigation {
  background-color: $first-grey;

  div {
    white-space: normal;

    .program-main-brand {
      width: $program-main-brand-width;
      background-color: $fir-grey;
      position: relative;

      img {
        position: absolute;
        width: 85%;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-bottom: 5px; // Propping up since the FIRST should be centered with the other logos, not the whole logo
        // maybe change this to an em value?
        transition: width 0.25s;
      }
      &:hover img {
        width: 90%;
      }
    }

    .program-brand {
      width: math.div(100 - $program-main-brand-width, $programs);
    }

    .program-nav-box {
      display: inline-block;
      height: 110px;
      line-height: 50px;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      position: relative;

      .fll-logo {
        width: auto;
        max-height: 100%; // this is all good since the FLL logos include the spacing required anyway
        max-width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: max-height 0.25s;
        transition-timing-function: ease-in-out;
      }
      &:hover .fll-logo{
        max-height: 115%;
      }

      .non-fll-logo {
        position: absolute;
        width: auto;
        max-height: 60%; // height of both FTC and FRC kept similar instead of width
        // FRC is slightly wider than FTC, this keeps them at the same scale
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 90%;
        transition: max-width 0.25s, max-height 0.25s;
        transition-timing-function: ease-in-out;
      }
      &:hover .non-fll-logo{
        max-width: 95%;
        max-height: 70%;
      }
    }
    @each $name, $value in $program-colors {
      .#{$name}-brand {
        background-color: $value;
      }
    }
  }
}

.sub-program-nav {
  display: none; // all sub program nav hidden by default

  @include media-breakpoint-up(sm) {
    // want to hide all of the nav on small devices (show our responsive menu instead)

    &.current-program {
      display: block; // server default selecting program
      // this ensures the django template will show valid CSS even before JS loads
      // this class is set inside navbar_wrap.html
    }
  }
  @each $name, $value in $program-colors {
    &.#{$name}-brand {
      background-color: $value;

      .nav-link {
        color: tint-color(color-contrast($value), 20%);
      }

      .nav-link:hover, .nav-item.active>.nav-link {
        color: tint-color(color-contrast($value), 0%);
      }
    }
  }

}


