@use "sass:math";
@import "colors";

$program-main-brand-width: 20%;
$programs: 5; // NOT including main brand

.program-navigation {

  .container-lg {
    .program-main-brand {
      width: $program-main-brand-width;
    }
    .program-brand {
      width: math.div(100 - $program-main-brand-width, $programs) - 1%;
    }
    .program-nav-box {
      display: inline-block;
      height: 150px;
      line-height: 50px;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
      margin: 0;
      padding: 0;

    }

    .frc-brand {
      background-color: $frc-blue;
    }

    .ftc-brand {
      background-color: $ftc-orange;
    }

    .fllc-brand {
      background-color: $fll-red;
    }

    .flle-brand {
      background-color: $fll-green;
    }

    .flld-brand {
      background-color: $fll-purple;
    }
  }
}