{% load menu_tags %}
<nav class="navbar navbar-expand-sm sub-program-nav home-brand {% if program == "none" %}current-program{% endif %}" id="main-menu">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            {% show_menu_below_id "home" 0 100 100 100 "menus/navbar.html" %}
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm sub-program-nav flle-brand {% if program == "flle" %}current-program{% endif %}" id="flle-menu">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            {% show_menu_below_id "fll-explore" 0 100 100 100 "menus/navbar.html" %}
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm sub-program-nav fllc-brand {% if program == "fllc" %}current-program{% endif %}" id="fllc-menu">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            {% show_menu_below_id "fll-challenge" 0 100 100 100 "menus/navbar.html" %}
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm sub-program-nav ftc-brand {% if program == "ftc" %}current-program{% endif %}" id="ftc-menu">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            {% show_menu_below_id "ftc" 0 100 100 100 "menus/navbar.html" %}
        </ul>
    </div>
</nav>

<nav class="navbar navbar-expand-sm sub-program-nav frc-brand {% if program == "frc" %}current-program{% endif %}" id="frc-menu">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            {% show_menu_below_id "frc" 0 100 100 100 "menus/navbar.html" %}
        </ul>
    </div>
</nav>
